@use "variables";
@use "mixins";

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "RalewayMedium";
  src: url("fonts/RalewayMedium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "RalewayBold";
  src: url("fonts/RalewayBold.ttf") format("truetype");
  font-weight: bold;
}

html,
body {
  @include mixins.RalewayFonts();
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.hiden {
  display: none;
}
